.a {
  width:13.33333vw;
}

.ignore {
  width:13.33333vw;
  border:2px;
}

.s {
  width:13.33333vw;
  font-size:2.66667vw;
  height:calc(13.33333vw - 2rem);
  border:13.33333vw;
}

.e {
  width:13.33333vw;
  border:1px;
}

.c {
  width:100vw;
}