.a {
  width:13.33333vw;
}

.ignore {
  width:100px;
  border:2px;
}

.s {
  width:100px;
  font-size:20px;
  height:calc(100px - 2rem);
  border:100px;
}

.e {
  width:100px;
  border:1px;
}

.c {
  width:100vw;
}