.a {
  top:0px;
  width: 20vw;
  line-height: 1.2;
  padding: 20px;
  padding-top: '20px';
  border: 1px solid #000;
  font-size: 20em;
}
.b {
  border: -1px solid black;
  width:200px;
  margin-bottom: calc(100px - 10vw);
  font-size: calc(10vmin);
}
@media (min-width: 750px) {
  .c {
    font-size: '16px';
    line-height: 22px;
  }
}

@keyframes f {
  0% {
    transform: translate(0px, 0);
  }
  100% {
    transform: translate(10px, -10px); /* px-to-clamp-ignore */
  }
}