.a {
  top:0px;
  width: 20vw;
  line-height: 1.2;
  padding: 2.66667vw;
  padding-top: '20px';
  border: 1px solid #000;
  font-size: 20em;
  border-radius: 2.66667vw !important;
  transform: translate(1.4vw, 0);
}
.b {
  border: -1px solid black;
  width:26.66667vw;
  height:200px;
  margin-bottom: calc(13.33333vw - 10vw);
  font-size: calc(10vmin);
}
@media (min-width: 750px) {
  .c {
    font-size: '16px';
    line-height: 22px;
  }
}

@keyframes f {
  0% {
    transform: translate(10.5px, 0);
  }
  100% {
    transform: translate(10.5px, -10.5px);
  }
}
